<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

    <select id="getBoardListIgnoreFileUrl" resultType="com.yeogi.app.board.dto.BoardListDto">
        SELECT
            B.NO BOARD_NO,
            B.TITLE,
            B.CONTENT,
            B.HIT,
            TO_CHAR(B.ENROLL_DATE, 'YYYY. MM. DD HH24:MI') ENROLL_DATE,
            M.NICK MEMBER_NAME,
            M.PROFILE_IMG MEMBER_PROFILE,
            COUNT(BI.FILE_URL)-1 AS IMAGE_COUNT,
            COUNT(R.NO) AS REVIEW_COUNT
        FROM
        BOARD B
        INNER JOIN CLUB C ON B.CLUB_NO = C.NO
        INNER JOIN MEMBER M ON B.MEMBER_NO = M.NO
        LEFT OUTER JOIN REVIEW R  ON B.NO = R.BOARD_NO
        LEFT OUTER JOIN BOARD_IMAGE_FILE BI ON B.NO = BI.BOARD_NO
        WHERE
            C.NO = #{clubNo}
            AND B.DEL_YN = 'N'
            AND B.NOTICE_YN = 'N'
        GROUP BY
            B.NO, B.TITLE, B.CONTENT, B.HIT, B.ENROLL_DATE, M.NICK, M.PROFILE_IMG
        ORDER BY 5 DESC
    </select>

    <select id="getFileUrlByBoardNo" parameterType="java.util.List" resultType="com.yeogi.app.board.dto.BoardListFileUrlDto">
        SELECT
            A.BOARD_NO
            , A.FILE_URL
        FROM (
                SELECT
                    NO
                    , BOARD_NO
                    , FILE_URL
                    , ROW_NUMBER() OVER (PARTITION BY BOARD_NO ORDER BY NO ASC) RNUM
                FROM BOARD_IMAGE_FILE
                WHERE BOARD_NO IN
                <foreach collection="list" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        ) A
        WHERE A.RNUM = 1
    </select>

    <select id="getBoardByBoardNo" parameterType="com.yeogi.app.board.dto.BoardDetailValidDto" resultType="com.yeogi.app.board.dto.BoardDetailDto">
        SELECT
                B.NO BOARD_NO,
                B.MEMBER_NO,
                B.TITLE,
                B.CONTENT,
                B.HIT,
                TO_CHAR(B.ENROLL_DATE, 'YYYY. MM. DD HH24:MI') ENROLL_DATE,
                M.NICK MEMBER_NAME,
                M.PROFILE_IMG MEMBER_PROFILE,
                COUNT(R.NO) AS REVIEW_COUNT
        FROM BOARD B
        INNER JOIN CLUB C ON B.CLUB_NO = C.NO
        INNER JOIN MEMBER M ON B.MEMBER_NO = M.NO
        LEFT OUTER JOIN REVIEW R  ON B.NO = R.BOARD_NO
        WHERE
            C.NO = #{clubNo}
            AND B.NO = #{boardNo}
        GROUP BY
            B.NO, B.MEMBER_NO, B.TITLE, B.CONTENT, B.HIT, B.ENROLL_DATE, M.NICK, M.PROFILE_IMG
    </select>

    <select id="getImagesByBoardNo" resultType="com.yeogi.app.board.dto.BoardListFileUrlDto">
        SELECT
            NO BOARD_IMAGE_NO
            , FILE_URL
        FROM BOARD_IMAGE_FILE
        WHERE BOARD_NO = #{boardNo}
    </select>

    <insert id="addBoard">
        INSERT INTO BOARD(NO, CLUB_NO, MEMBER_NO, TITLE, CONTENT)
        VALUES (SEQ_BOARD_NO.NEXTVAL, #{clubNo}, #{memberNo}, #{title}, #{content})
    </insert>

    <select id="getNoByMemberNo" resultType="java.lang.String">
        SELECT NO
        FROM BOARD
        WHERE MEMBER_NO = #{memberNo} AND CLUB_NO = #{clubNo}
        ORDER BY ENROLL_DATE DESC
        FETCH FIRST 1 ROWS ONLY
    </select>

    <select id="getTotalCount" resultType="String">
        SELECT COUNT(NO)
        FROM BOARD
        WHERE CLUB_NO = #{clubNo}
        AND NOTICE_YN = 'Y'
        AND DEL_YN = 'N'
    </select>

    <select id="getNoticeList" resultType="com.yeogi.app.notice.dto.NoticeListDto">
        SELECT
            B.NO NOTICE_NO,
            B.TITLE,
            B.HIT,
            TO_CHAR(B.ENROLL_DATE, 'YYYY. MM. DD HH24:MI') ENROLL_DATE,
            M.NICK MEMBER_NAME
<!--            COUNT(R.NO) AS REVIEW_COUNT-->
        FROM
        BOARD B
        INNER JOIN CLUB C ON B.CLUB_NO = C.NO
        INNER JOIN MEMBER M ON B.MEMBER_NO = M.NO
        LEFT OUTER JOIN REVIEW R  ON B.NO = R.BOARD_NO
        LEFT OUTER JOIN BOARD_IMAGE_FILE BI ON B.NO = BI.BOARD_NO
        WHERE
        C.NO = #{clubNo}
        AND B.DEL_YN = 'N'
        AND B.NOTICE_YN = 'Y'
        GROUP BY
        B.NO, B.TITLE, B.CONTENT, B.HIT, B.ENROLL_DATE, M.NICK, M.PROFILE_IMG
        ORDER BY 5 DESC
    </select>

    <delete id="deleteBoardByNo">
        DELETE FROM BOARD WHERE NO = #{boardNo}
    </delete>

    <insert id="addNotice">
        INSERT INTO BOARD(NO, CLUB_NO, MEMBER_NO, TITLE, CONTENT, NOTICE_YN)
        VALUES (SEQ_BOARD_NO.NEXTVAL, #{clubNo}, #{memberNo}, #{title}, #{content}, #{noticeYn})
    </insert>

    <update id="increaseHit">
        UPDATE BOARD
            SET HIT = HIT + 1
        WHERE NO = #{boardNo}
    </update>

    <select id="getNoticeOne" resultType="com.yeogi.app.notice.dto.NoticeDetailDto">
        SELECT
            B.NO BOARD_NO
            , M.PROFILE_IMG MEMBER_PROFILE
            , M.NICK MEMBER_NAME
            , B.MEMBER_NO
            , B.ENROLL_DATE
            , B.TITLE
            , B.CONTENT
            , B.HIT
        FROM BOARD B
        INNER JOIN MEMBER M
        ON B.MEMBER_NO = M.NO
        WHERE B.NO = #{boardNo}
        AND B.CLUB_NO = #{clubNo}
        AND B.NOTICE_YN = 'Y'

    </select>
</mapper>