<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<!-- 회원가입 -->
    <insert id="join">
        INSERT INTO MEMBER
		(
		    NO
            ,NAME
            ,ID
            ,PWD
            ,NICK
            ,PHONE
            ,EMAIL
            ,RESI_NUM
            ,FULL_PATH
		)
		VALUES
		(
		    SEQ_MEMBER_NO.NEXTVAL
            , #{name}
            , #{id}
            , #{pwd}
            , #{nick}
            , #{phone}
            , #{email}
            , #{resiNum}
            , #{fullPath}
		)
    </insert>
    <!-- 아이디 중복 확인 -->
    <select id="idCheck" resultType="com.yeogi.app.member.vo.MemberVo">
    	SELECT
    		ID
    	FROM MEMBER
		WHERE ID = #{id}    
    </select>
    
	<!--비밀번호 일치 여부 확인-->
<!-- 	<select id="pwdCoincide" r -->
	
	
	<!--로그인-->
    <select id="login" resultType="com.yeogi.app.member.vo.MemberVo">
		SELECT
		    NO
            ,NAME
            ,ID
            ,PWD
            ,NICK
            ,PHONE
            ,EMAIL
            ,QUIT_YN
            ,TO_CHAR(ENROLL_DATE, 'YYYY"년 "MM"월 "DD"일"') AS ENROLL_DATE
            ,TO_CHAR(MODIFIED_DATE, 'YYYY"년 "MM"월 "DD"일"') AS MODIFIED_DATE
            ,FULL_PATH
            ,RESI_NUM
		FROM MEMBER
		WHERE ID = #{id}
		AND PWD = #{pwd}
	</select>
	
	<!--회원탈퇴-->
	<update id="quit">
		UPDATE MEMBER
		    SET 
		        QUIT_YN = 'Y'
		WHERE NO = #{no}
	</update>
	
	<!--내 정보조회-->
	<select id="mySelect" resultType="com.yeogi.app.member.vo.MemberVo">
		SELECT
			NO
            ,NAME
            ,ID
            ,PWD
            ,NICK
            ,PHONE
            ,EMAIL
            ,QUIT_YN
            ,TO_CHAR(ENROLL_DATE, 'YYYY"년 "MM"월 "DD"일"') AS ENROLL_DATE
            ,TO_CHAR(MODIFIED_DATE, 'YYYY"년 "MM"월 "DD"일"') AS MODIFIED_DATE
            ,FULL_PATH
            ,RESI_NUM
         FROM MEMBER
         WHERE NO = #{no}
	</select>
	
	<!--내 정보수정-->
	<update id="edit">
		UPDATE MEMBER
			SET
			   <trim prefixOverrides=",">
			   <if test="name != '' and name != null">
	           	NAME = #{name}
	           </if>
	           <if test="pwd != '' and pwd != null">
	           	,PWD = #{pwd}
	           </if>
	           <if test="nick != '' and nick != null">
	           	,NICK = #{nick}
	           </if>
	           <if test="phone != '' and phone != null">
	           	,PHONE = #{phone}
	           </if>
	           <if test="email != '' and email != null">
	           	,EMAIL = #{email}
	           </if>
               ,MODIFIED_DATE = SYSDATE	           
	           <if test="fullPath != '' and fullPath != null">
	           	,FULL_PATH = #{fullPath}
	           </if>	 
	           </trim>          
           WHERE NO = #{no}
		   AND QUIT_YN = 'N'		
	</update>
	
	
	<!--메인화면- 로그인후 가입한 모임 조회하기--> 
	<select id="selectMyClub" resultType="com.yeogi.app.member.vo.selectMyClubVo">
		SELECT CC.CATEGORY_NAME, M.NICK  AS MEMBER_NICK, C.NAME AS CLUB_NAME, C.CLUB_DESCRIPTION, C.ENROLL_DATE, CIF.FILE_URL
		FROM CLUB C
        JOIN CLUB_IMAGE_FILE CIF ON CIF.NO = C.NO
		JOIN MEMBER_CLUB MC ON MC.CLUB_NO = C.NO
		JOIN MEMBER M ON M.NO = C.CREATOR_NO
		JOIN CLUB_CATEGORY CC ON CC.CATEGORY_NO = C.CATEGORY_NO
		WHERE C.DEL_YN = 'N'
		AND M.NO = #{no}
		ORDER BY C.ENROLL_DATE DESC;
	</select>
	
</mapper>