a {
    text-decoration: none;
    color: #000;
}

* {
    /* font-family: 'yg-jalnan'; */
    font-family: 'NanumBarunGothic';
}

/*                        폰트                        */
@font-face {
    font-family: 'yg-jalnan';
    src: url('../src/fonts/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/NanumBarunGothicWeb.woff');
   }
