<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GalleryMapper">

   <select id="getImageListByClubNo" resultType="com.yeogi.app.gallery.dto.GalleryListDto">
       SELECT
           BI.NO BOARD_IMAGE_NO
           , BI.BOARD_NO
           , BI.FILE_URL
           , B.NOTICE_YN
       FROM BOARD_IMAGE_FILE BI
       INNER JOIN BOARD B
       ON BI.BOARD_NO = B.NO
       WHERE B.CLUB_NO = #{clubNo}
       AND B.DEL_YN = 'N'
       ORDER BY 2 DESC, 1
   </select>
</mapper>