<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClubMapper">

<!-- 클럽 멤버 체크 -->
    <select id="checkIsClubMember" resultType="java.lang.String">
        SELECT MEMBER_NO
        WHERE MEMBER_NO = #{memberNo}
        AND CLUB_NO = #{clubNo}
    </select>

<!-- 클럽 관리자여부 체크-->

<!-- 클럽 검색(조건 넣을지,,,) -->
    <select id="searchClub" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT
        C.NO
        , C.NAME
        , C.CATEGORY_NO
        , C.CREATOR_NO
        , C.CLUB_DESCRIPTION
        , C.AGE_LIMIT
        , C.SIGNUP_LIMIT
        , C.ENROLL_DATE
        , C.DEL_YN
        , CC.CATEGORY_NAME
        , I.FILE_URL
        , M.NICK
        , (SELECT COUNT(MEMBER_NO)
            FROM MEMBER_CLUB
            WHERE CLUB_NO = C.NO) AS MEMBER_COUNT
        FROM CLUB C
        JOIN MEMBER M ON C.CREATOR_NO = M.NO
        JOIN CLUB_CATEGORY CC ON C.CATEGORY_NO = CC.CATEGORY_NO
        JOIN CLUB_IMAGE_FILE I ON C.NO = I.NO
        <choose>
            <when test="searchMenu.equals('categoryName')">
                WHERE CC.CATEGORY_NAME LIKE '%'||#{searchString}||'%'
            </when>
            <otherwise>
                WHERE C.${searchMenu} LIKE '%'||#{searchString}||'%'
            </otherwise>
        </choose>
        AND DEL_YN = 'N'
    </select>

<!--    클럽 생성( 클럽명 중복 확인 ) -->
    <select id="checkClubName" resultType="String">
        SELECT NAME
        FROM CLUB
        WHERE NAME = #{clubName}
    </select>
    
    
<!--    클럽 생성(insert)-->
    <insert id="createClub">
        INSERT INTO CLUB(NO, CATEGORY_NO, CREATOR_NO, NAME, CLUB_DESCRIPTION, AGE_LIMIT, SIGNUP_LIMIT)
        VALUES (SEQ_CLUB_NO.NEXTVAL, #{categoryNo}, #{creatorNo}, #{name}, #{clubDescription}, #{ageLimit}, #{signupLimit})
    </insert>

<!--    클럽 생성(클럽 대표이미지 추가) -->
    <insert id="insertClubImage">
        <choose>
            <when test="clubImageFile != null or clubImageFile.equals('')">
                INSERT INTO CLUB_IMAGE_FILE(NO, FILE_URL, FILE_NAME) VALUES (SEQ_CLUB_NO.CURRVAL, '테스트2', '테스트2')
            </when>
            <otherwise>
                INSERT INTO CLUB_IMAGE_FILE(NO, FILE_URL, FILE_NAME) VALUES (SEQ_CLUB_NO.CURRVAL, '기본이미지', '기본이미지')
            </otherwise>
        </choose>
    </insert>

<!--  클럽 소개(클럽가입화면)  -->
    <select id="clubDescription" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT C.*
        , CC.CATEGORY_NAME
        , M.NICK
        , (SELECT COUNT(MEMBER_NO) FROM MEMBER_CLUB WHERE CLUB_NO = #{no}) AS MEMBER_COUNT
        FROM CLUB C
        JOIN CLUB_CATEGORY CC ON C.NO = CC.CATEGORY_NO
        JOIN MEMBER M ON C.CREATOR_NO = M.NO
        WHERE C.NO = #{no}
    </select>

<!--    클럽 가입 (가입인원, 연령제한 생각)-->
    <insert id="joinClub">
        INSERT INTO MEMBER_CLUB(MEMBER_NO, CLUB_NO)
        VALUES (#{memberNo}, #{clubNo})
    </insert>
<!--    클럽 관리 ( 클럽 정보 상세 조회 ) -->
    <select id="getClubInfo" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT *
        FROM CLUB
    </select>

<!--    클럽 관리(소개글, 대표이미지, 모임인원, 가입연령 변경) + -->
    <update id="editClub">
        <choose>
            <when test="clubImageFile == null">
                UPDATE CLUB
                SET
                <if test="clubDescription != null">
                    CLUB_DESCRIPTION = #{clubDescription}
                </if>
                <if test="ageLimit != null">
                    AGE_LIMIT = #{ageLimit}
                </if>
                <if test="signupLimit != null">
                    SIGNUP_LIMIT = #{signupLimit}
                </if>
                WHERE NO = #{no}
            </when>
            <otherwise>
                UPDATE CLUB_IMAGE_FILE
                SET FILE_URL = #{clubImageFile}
                WHERE NO = #{no}
            </otherwise>
        </choose>

    </update>
<!--    클럽 관리(관리자 지정 및 해제, 회원 추방)-->
    <update id="editClubMember">

    </update>

<!--    클럽 탈퇴 -->
</mapper>