<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClubMapper">

<!-- 클럽 멤버 권한 체크 -->
    <select id="checkIsClubMember" resultType="com.yeogi.app.util.check.CheckDto">
        SELECT
             MC.CLUB_NO
            , MC.MEMBER_NO
            , CASE
                WHEN C.CREATOR_NO = MC.MEMBER_NO THEN 'Y'
                ELSE 'N'
            END AS CREATOR_YN
            , MC.ADMIN_YN
            , C.DEL_YN
        FROM MEMBER_CLUB MC
        LEFT OUTER JOIN CLUB C
            ON MC.CLUB_NO = C.NO
        WHERE C.NO = #{clubNo}
        AND MC.MEMBER_NO = #{memberNo}
    </select>

<!-- 클럽 관리자여부 체크 -->
    <select id="checkAdmin" resultType="com.yeogi.app.club.vo.CheckMemberVo">
        SELECT
            M.NO
            ,MC.ADMIN_YN
            ,NVL(
                (SELECT ADMIN_YN
                FROM MEMBER_CLUB MC_SUB
                JOIN CLUB C_SUB ON MC_SUB.CLUB_NO = C_SUB.NO
                JOIN MEMBER M_SUB ON MC_SUB.MEMBER_NO = M_SUB.NO
                WHERE MC_SUB.MEMBER_NO = C_SUB.CREATOR_NO
                    AND MC_SUB.CLUB_NO = #{clubNo}
                    AND M_SUB.NO = #{memberNo})
                ,'N'
            ) AS CLUB_MASTER
        FROM MEMBER_CLUB MC
        JOIN CLUB C ON MC.CLUB_NO = C.NO
        JOIN MEMBER M ON MC.MEMBER_NO = M.NO
        WHERE M.NO = #{memberNo}
            AND C.NO = #{clubNo}
    </select>

<!-- 클럽 검색(조건 넣을지,,,) -->
    <select id="searchClub" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT
        C.NO
            , C.NAME
            , C.CATEGORY_NO
            , C.CREATOR_NO
            , C.CLUB_DESCRIPTION
            , C.AGE_LIMIT
            , C.SIGNUP_LIMIT
            , C.ENROLL_DATE
            , C.DEL_YN
            , CC.CATEGORY_NAME
            , I.FILE_URL
            , M.NICK
            , (SELECT COUNT(MEMBER_NO)
                FROM MEMBER_CLUB
                WHERE CLUB_NO = C.NO) AS MEMBER_COUNT
        FROM CLUB C
        JOIN MEMBER M ON C.CREATOR_NO = M.NO
        JOIN CLUB_CATEGORY CC ON C.CATEGORY_NO = CC.CATEGORY_NO
        JOIN CLUB_IMAGE_FILE I ON C.NO = I.NO
        <choose>
            <when test="searchMenu.equals('categoryName')">
                WHERE CC.CATEGORY_NAME LIKE '%'||#{searchString}||'%'
            </when>
            <otherwise>
                WHERE C.${searchMenu} LIKE '%'||#{searchString}||'%'
            </otherwise>
        </choose>
        AND DEL_YN = 'N'
    </select>
<!--    클럽 리스트 불러오기(메인에서 사용할거..)-->
    <select id="getClubList" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT C.NO
            ,C.NAME
            ,M.NICK
            ,C.SIGNUP_LIMIT
            ,C.AGE_LIMIT
            ,TO_CHAR(C.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
            ,CC.CATEGORY_NAME
            ,C.CLUB_DESCRIPTION
            ,CI.FILE_URL
            , (SELECT COUNT(MEMBER_NO)
                FROM MEMBER_CLUB
                WHERE CLUB_NO = C.NO) AS MEMBER_COUNT
        FROM CLUB C
            JOIN CLUB_IMAGE_FILE CI ON C.NO = CI.NO
            JOIN MEMBER M ON C.CREATOR_NO = M.NO
            JOIN CLUB_CATEGORY CC ON C.CATEGORY_NO = CC.CATEGORY_NO
        WHERE C.DEL_YN = 'N'
    </select>
<!--    클럽 생성( 클럽명 중복 확인 ) -->
    <select id="checkClubName" resultType="String">
        SELECT NAME
        FROM CLUB
        WHERE NAME = #{clubName}
    </select>
    
    
<!--    클럽 생성(insert)-->
    <insert id="createClub">
        INSERT INTO CLUB(NO, CATEGORY_NO, CREATOR_NO, NAME, CLUB_DESCRIPTION, AGE_LIMIT, SIGNUP_LIMIT)
        VALUES (SEQ_CLUB_NO.NEXTVAL, #{categoryNo}, #{creatorNo}, #{name}, #{clubDescription}, #{ageLimit}, #{signupLimit})
    </insert>

<!--    클럽 생성 (MEMBER_CLUB 에 모임장 INSERT)-->
    <insert id="insertClubMaster">
        INSERT INTO
        MEMBER_CLUB(MEMBER_NO, CLUB_NO, ADMIN_YN)
        VALUES(#{creatorNo}, SEQ_CLUB_NO.CURRVAL,'Y')
    </insert>
<!--    클럽 생성(클럽 대표이미지 추가), 클럽 insert 성공시 실행?-->
    <insert id="insertClubImage">
        INSERT INTO CLUB_IMAGE_FILE(NO, FILE_URL, FILE_NAME) VALUES (SEQ_CLUB_NO.CURRVAL, #{fileUrl}, #{fileName})
    </insert>
<!--    클럽 시퀀스 넘버 받아오기 -->
    <select id="getClubSeqNo" resultType="java.lang.Integer">
        SELECT SEQ_CLUB_NO.CURRVAL FROM DUAL
    </select>

<!--    클럽 카테고리 받아오기 -->
    <select id="getCategoryName" resultType="com.yeogi.app.club.vo.ClubCategoryVo">
        SELECT * FROM CLUB_CATEGORY
    </select>
<!--  클럽 소개(상세조회 / 클럽가입화면 )  -->
    <select id="clubDescription" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT
            C.NO
            , C.NAME
            , C.CATEGORY_NO
            , C.CREATOR_NO
            , C.CLUB_DESCRIPTION
            , C.AGE_LIMIT
            , C.SIGNUP_LIMIT
            , C.ENROLL_DATE
            , C.DEL_YN
            , CC.CATEGORY_NAME
            , M.NICK
            , CIF.FILE_URL
            , (SELECT COUNT(MEMBER_NO) FROM MEMBER_CLUB WHERE CLUB_NO = #{no}) AS MEMBER_COUNT
        FROM CLUB C
        JOIN CLUB_CATEGORY CC ON C.CATEGORY_NO = CC.CATEGORY_NO
        JOIN MEMBER M ON C.CREATOR_NO = M.NO
        JOIN CLUB_IMAGE_FILE CIF ON C.NO = CIF.NO
        WHERE C.NO = #{no}
    </select>

<!--    클럽 가입 (연령제한 및 가입인원 체크)-->
    <select id="checkLimit" resultType="com.yeogi.app.club.vo.CheckClubLimitVo">
        SELECT
            CASE
                WHEN TO_NUMBER(SUBSTR(RESI_NUM, 8, 1)) IN (3, 4)
                    THEN TRUNC((SYSDATE - TO_DATE('20' || SUBSTR(RESI_NUM, 1, 6), 'YYYYMMDD')) / 365)
                ELSE TRUNC((SYSDATE - TO_DATE('19' || SUBSTR(RESI_NUM, 1, 6), 'YYYYMMDD')) / 365)
            END AS AGE,
            C.AGE_LIMIT,
            MC.MEMBER_COUNT,
            C.SIGNUP_LIMIT AS MEMBER_LIMIT
        FROM MEMBER M
        JOIN CLUB C ON C.NO = #{clubNo}
        LEFT JOIN (
            SELECT CLUB_NO,
                COUNT(MEMBER_NO) AS MEMBER_COUNT
            FROM MEMBER_CLUB
            GROUP BY CLUB_NO
            ) MC ON MC.CLUB_NO = C.NO
        WHERE M.NO = #{memberNo}
    </select>

<!--    클럽 가입-->
    <insert id="joinClub">
        INSERT INTO MEMBER_CLUB(MEMBER_NO, CLUB_NO)
        VALUES (#{memberNo}, #{clubNo})
    </insert>


<!--    클럽 관리 ( 클럽 정보 상세 조회 ) 일단 clubDescription 이랑 같이 사용.. -->
    <select id="getClubInfo" resultType="com.yeogi.app.club.vo.ClubVo">
        SELECT *
        FROM CLUB
    </select>
<!--    클럽 관리( 이전 대표이미지 URL 불러오기)-->
    <select id="getClubImgName" resultType="String">
        SELECT FILE_NAME
        FROM CLUB_IMAGE_FILE
        WHERE NO = #{no}
    </select>
<!--    클럽 관리(소개글, 모임인원, 가입연령 변경).-->
    <update id="editClub">
        UPDATE CLUB
        SET
        CLUB_DESCRIPTION = #{clubDescription}
        ,AGE_LIMIT = #{ageLimit}
        ,SIGNUP_LIMIT = #{signupLimit}
        WHERE NO = #{clubNo}
    </update>
<!--    클럽 관리(대표이미지 변경)-->
    <update id="updateFile">
        UPDATE CLUB_IMAGE_FILE
        SET FILE_URL = #{fileUrl}
            ,FILE_NAME = #{fileName}
        WHERE NO = #{no}
    </update>
<!--    클럽 관리(클럽 회원 목록 불러오기)-->
    <select id="getClubMemberList" resultType="com.yeogi.app.club.vo.ClubMemberVo">
        SELECT
            MC.MEMBER_NO
            ,MC.CLUB_NO
            ,MC.ADMIN_YN
            ,TO_CHAR(MC.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
            ,M.NICK
            ,M.NAME
            ,M.PHONE
            ,M.EMAIL
            ,CASE WHEN C.CREATOR_NO = MC.MEMBER_NO THEN C.CREATOR_NO END AS CREATOR_NO
        FROM MEMBER_CLUB MC
        JOIN MEMBER M ON MC.MEMBER_NO = M.NO
        JOIN CLUB C ON MC.CLUB_NO = C.NO
        WHERE MC.CLUB_NO = #{clubNo}
        ORDER BY
            CASE WHEN C.CREATOR_NO = MC.MEMBER_NO THEN 0 ELSE 1 END,
            ADMIN_YN DESC,
            REG_DATE
    </select>
<!--    클럽 관리(관리자 지정 및 해제, 회원 추방)-->
    <update id="editClubMember">
        <choose>
            <when test="editType != null and editType.contains('admin') ">
                UPDATE MEMBER_CLUB
                <if test="editType == 'adminN'">
                    SET ADMIN_YN = 'N'
                    WHERE MEMBER_NO = #{memberNo}
                        AND CLUB_NO = #{no}
                </if>
                <if test="editType == 'adminY'">
                    SET ADMIN_YN = 'Y'
                    WHERE MEMBER_NO = #{memberNo}
                        AND CLUB_NO = #{no}
                </if>
            </when>
            <when test="editType.equals('deleteMember')">
                DELETE FROM MEMBER_CLUB
                WHERE MEMBER_NO = #{memberNo}
                    AND CLUB_NO = #{no}
            </when>
            <otherwise>
                DELETE FROM CLUB
                WHERE CLUB_NO = #{clubNo}
            </otherwise>
        </choose>
    </update>

<!--    클럽 탈퇴 -->
    <delete id="quitClub">
        DELETE FROM MEMBER_CLUB
        WHERE CLUB_NO = #{no}
            AND MEMBER_NO = #{memberNo}
    </delete>

<!--    클럽 삭제-->
    <update id="deleteClub">
        UPDATE CLUB
        SET DEL_YN = 'Y'
        WHERE NO = #{clubNo}
    </update>
<!--    삭제된 클럽인지 확인-->
    <select id="isDeleted" resultType="String">
        SELECT DEL_YN
        FROM CLUB
        WHERE NO = #{clubNo}
    </select>
</mapper>